<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Chicken Tradition</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section class="hero">
        <h1>Welcome to Chicken Tradition</h1>
        <p>...Experience the taste of fine dining.</p>
    </section>

    <section class="content">
        <h2>Our Specialties</h2>
        <div class="dish">
            <img src="spaghetti.jpeg" alt="Spahetti Bolognese">
            <h3>Spaghetti Bolognese with meatballs<br>#12000</h3>
            <p>
            Our Special Spahetti Bolognese by Chef Abdul is finely prepared, highly delicious and nutritious.
            Meats with which meatballs are made with are directly sourced from northern Afghanistan and preprocessed in the manner with which chef preprocess data for ML training process.
            --Chef Abdulbasit
            </p>
        </div>

        <div class="dish">
            <img src="Jollof-Rice.jpeg" alt="Jollof Rice and Turkey">
            <h3>Jollof Rice and Turkey<br>#14500</h3>
            <p>
            Our Smoky hot Nigerian Jollof Rice and Turkey by Chef Abdul is finely prepared, highly delicious and nutritious.
            Turkey are acquired by brutally murdering the turkey in remote Nigeria. #No joy for those mofos
            --Chef Mosun
            </p>
        </div>
    </section>

    <footer>
        <p>© 2023 Chicken Tradition. All Rights Reserved.</p>
    </footer>
</body>

</html>
